# /etc/hosts - managed by Ansible
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for e in hosts_entries %}
{{ e.ip }}   {{ e.name }} {{ e.alias }}
{% endfor %}
